@charset "utf-8"; /* comentários são feitos assim */

h6 {
    font-family: verdana;
    text-align: center;
    background-color: #e2d4b7;
    color:black;
}

h3 {
    font-family: verdana;
    text-align: left;
}

body {
    background-color: #ffffff;
}

